@import "./src/styles/variables";
@import "./src/styles/mixins";


.dialogs{
  $self: &;
  &-item{
    padding: calc(#{$-padding}) $-padding;
    cursor: pointer;
    @include flexCenter;
    &.active,
    &:hover{
      background: #f3f7ff;
    }
    &__img{
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &__wrap{
      margin-left: 10px;
      flex: 1;
      //display: flex;
      //flex-direction: column;
      //justify-content: center;
    }
    &__top{
      margin-bottom: 6px;
      display: flex;
      align-items: baseline;
    }
    &__name{
      flex: 70%;
      font-size: 14px;
      font-weight: 500;
    }
    &__time{
      flex: 30%;
      font-size: 12px;
      text-align: right;
      opacity: .5;
    }
    &__bottom{
      position: relative;
      display: flex;
    }
    &__message{
      text-overflow: ellipsis;
      overflow: hidden;
      width: 230px;
      height: 1rem;
      white-space: nowrap;
      opacity: .5;
    }
    &__icon{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      & img{
        margin-right: 0;
      }
      &--mark{
        width: 18px;
        height: 18px;
        @include flexCenter;
        justify-content: center;
        border-radius: 50%;
        background: rgba(244, 107, 107, 1);
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
      }
      &--count{
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 1)
      }
    }
    &--online{
      & #{$self}{
        &-item{
          &__avatar{
            position: relative;
            &::after{
              content: '';
              position: absolute;
              bottom: -2px;
              right: 0;
              display: block;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              background: #00c980;
              border: 3px solid rgba(255, 255, 255, 1)
            }
          }
        }
      }
    }
  }
}
