.dialogs{
  &-item{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &__img{
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &__wrap{
      margin-left: 10px;
      //display: flex;
      //flex-direction: column;
      //justify-content: center;
    }
    &__top{
      margin-bottom: 6px;
      display: flex;
      align-items: baseline;
    }
    &__name{
      flex: 1;
      font-size: 14px;
      font-weight: 500;
    }
    &__time{
      font-size: 12px;
      opacity: .5;
    }
    &__bottom{
      display: flex;
    }
    &__message{
      text-overflow: ellipsis;
      overflow: hidden;
      width: 260px;
      height: 1rem;
      white-space: nowrap;
      opacity: .5;
    }
    &__icon{
      position: relative;
      margin-left: 10px;
      & img{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin-right: 0;
      }
      &--mark{
        position: absolute;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: rgba(244, 107, 107, 1);
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
      }
      &--count{
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 1)
      }
    }
    &--online{
      & .dialogs{
        &-item{
          &__avatar{
            position: relative;
            &::after{
              content: '';
              position: absolute;
              bottom: -2px;
              right: 0;
              display: block;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              background: #00c980;
              border: 3px solid rgba(255, 255, 255, 1)
            }
          }
        }
      }
    }
  }
}
