@import "./src/styles/variables";


.message{
  $self: &;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-end;
  &-avatar{
    margin-right: 10px;
    &__img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
  &-content{
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    &__bubble{
      position: relative;
      max-width: 440px;
      padding: 15px;
      border-radius: 12px 12px 12px 0;
      background: $--color-main;
      box-shadow: 0 5px 5px rgba(54, 116, 255, .2);
      overflow: hidden;
    }
    &__text{
      line-height: 1.2;
      color: rgba(255, 255, 255, 1);
      overflow-wrap: break-word;
    }
    &__attachments{
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      &-item {
        cursor: pointer;
        &:not(:last-of-type) {
          margin-right: 5px;
          margin-bottom: 5px;
        }
        & img{
          display: block;
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
    &__date{
      position: absolute;
      left: 0;
      bottom: -18px;
      font-size: 12px;
      white-space: nowrap;
      opacity: .5;
    }
    &__icon{
      margin-right: 10px;
    }
  }
  &#{$self}{
    &--my{
      flex-direction: row-reverse;
      & #{$self}{
        &-avatar{
          margin-right: 0;
          margin-left: 10px;
        }
        &-content{
          &__bubble{
            border: 1px solid #ececec;
            border-radius: 12px 12px 0 12px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, .02);
          }
          &__text{
            color: #020202;
          }
          &__date{
            left: unset;
            right: 0;
          }
        }
      }
    }
    &--typing{
      & #{$self}{
        &-content{
          &__bubble{
            background: $--color-typing-bg;
            box-shadow: 0 5px 5px rgba(54, 116, 255, .04);
          }
          &--typing{
            & .dot{
              height: 7px;
              width: 7px;
              border-radius: 50%;
              background: rgba(166, 189, 240, 1);
              display: inline-flex;
              margin-right: 8px;
              &.one{
                animation: cycleOne 1s ease-in-out infinite;
                animation-direction: normal;
              }
              &.two{
                animation: cycleTwo 1s ease-in-out infinite;
                animation-direction: normal;
              }
              &.three{
                animation: cycleThree 1s ease-in-out infinite;
                animation-direction: normal;
              }
            }
          }
        }
      }
    }
    &--image{
      & #{$self}{
        &-content{
          &__bubble{
            padding: 0;
            background: none;
            box-shadow: 0 5px 5px rgba(54, 116, 255, .04);
          }
          &__attachments{
            margin-top: 0;
            &-item{
              & img {
                width: 200px;
                height: 250px;
              }
            }
          }
        }
      }
    }
    &--audio{
      & #{$self}{
        &-content{
          &__audio{
            &-progress{
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              background: rgba(65, 143, 255, 1);
              //transition: width .5s ease;
            }
            &-wrap{
              position: relative;
              display: flex;
              align-items: center;
            }
            &-btn{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background: rgba(15, 57, 151, 1);
              & img{
                //width: 100%;
                width: 21px;
                height: 14px;
              }
            }
            &-wave{
              margin: 0 30px;
            }
            &-duration{
              font-size: 14px;
              font-weight: 500;
              color: rgba(255, 255, 255, 1);
              opacity: .6;
            }
          }
        }
      }
    }
  }
}

@keyframes cycleOne{
  0%{
    opacity: .4;
  }
  33.333%{
    opacity: 1;
  }
  66.6667%{
    opacity: .4;
  }
  100%{
    opacity: .4;
  }
}

@keyframes cycleTwo{
  0%{
    opacity: .4;
  }
  33.333%{
    opacity: .4;
  }
  66.6667%{
    opacity: 1;
  }
  100%{
    opacity: .4;
  }
}

@keyframes cycleThree{
  0%{
    opacity: .4;
  }
  33.333%{
    opacity: .4;
  }
  66.6667%{
    opacity: .4;
  }
  100%{
    opacity: 1;
  }
}
