@import "./src/styles/variables";


.message{
  margin-bottom: 40px;
  display: flex;
  align-items: flex-end;
  &-avatar{
    margin-right: 10px;
    &__img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
  &-content{
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    &__bubble{
      max-width: 440px;
      padding: 15px;
      border-radius: 12px 12px 12px 0;
      background: $--color-main;
      box-shadow: 0 5px 5px rgba(54, 116, 255, .2);
    }
    &__text{
      line-height: 1.2;
      color: rgba(255, 255, 255, 1)
    }
    &__attachments{
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      &-item {
        cursor: pointer;
        &:not(:last-of-type) {
          margin-right: 5px;
        }
        & img{
          border-radius: 5px;
        }
      }
    }
    &__date{
      position: absolute;
      left: 0;
      bottom: -18px;
      font-size: 12px;
      white-space: nowrap;
      opacity: .5;
    }
    &__icon{
      margin-right: 10px;
    }
  }
  &.message{
    &--my{
      flex-direction: row-reverse;
      & .message{
        &-avatar{
          margin-right: 0;
          margin-left: 10px;
        }
        &-content{
          &__bubble{
            border: 1px solid #ececec;
            border-radius: 12px 12px 0 12px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, .02);
          }
          &__text{
            color: #020202;
          }
          &__date{
            left: unset;
            right: 0;
          }
        }
      }
    }
  }
}
